{% extends 'info/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Reports</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
        <li class="breadcrumb-item active">Reports</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table"></i>
            <b>Reports</b>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="width: 25%">
                                Student USN
                                <button class="btn btn-link btn-sort" onclick="sortTable(0)"><i class="fas fa-sort"></i></button>
                            </th>
                            <th style="width: 25%">
                                Student Name
                                <button class="btn btn-link btn-sort" onclick="sortTable(1)"><i class="fas fa-sort"></i></button>
                            </th>
                            <th style="width: 25%">
                                Attendance
                                <button class="btn btn-link btn-sort" onclick="sortTable(2)"><i class="fas fa-sort"></i></button>
                            </th>
                            <th style="width: 25%">
                                CIE
                                <button class="btn btn-link btn-sort" onclick="sortTable(3)"><i class="fas fa-sort"></i></button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sc in sc_list %}
                        <tr>
                            <td>{{ sc.student_id }}</td>
                            <td>{{ sc.student.name }}</td>
                            <td {% if sc.get_attendance < 75 %}class="p-3 mb-2 bg-danger text-white"{% else %}class="p-3 mb-2 bg-success text-white"{% endif %}>
                                {{ sc.get_attendance }}
                            </td>
                            <td {% if sc.get_cie < 25 %}class="p-3 mb-2 bg-danger text-white"{% else %}class="p-3 mb-2 bg-success text-white"{% endif %}>
                                {{ sc.get_cie }}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center">No student marks available</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button class="btn btn-primary" onclick="window.print()">Print</button>
            </div>
        </div>
    </div>
</div>

<script>
    function sortTable(columnIndex) {
        var table, rows, switching, i, x, y, shouldSwitch, sortOrder;
        table = document.getElementById("dataTable");
        switching = true;
        // Set the initial sort order to ascending if it's not already defined
        sortOrder = table.getAttribute('data-sort-order') || 'asc';
        if (sortOrder === 'asc') {
            table.setAttribute('data-sort-order', 'desc');
        } else {
            table.setAttribute('data-sort-order', 'asc');
        }
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("td")[columnIndex];
                y = rows[i + 1].getElementsByTagName("td")[columnIndex];
                if (sortOrder === 'asc') {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
</script>

{% endblock %}
