{% extends 'info/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Reports</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
        <li class="breadcrumb-item active">Reports</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table"></i>
            <b>Marks</b>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="width: 25%">Student USN</th>
                            <th style="width: 25%">Student Name</th>
                            <th style="width: 25%">Attendance</th>
                            <th style="width: 25%">CIE</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sc in sc_list %}
                        <tr>
                            <td>{{ sc.student_id }}</td>
                            <td>{{ sc.student.name }}</td>
                            <td {% if sc.get_attendance < 75 %}class="p-3 mb-2 bg-danger text-white"{% else %}class="p-3 mb-2 bg-success text-white"{% endif %}>
                                {{ sc.get_attendance }}
                            </td>
                            <td {% if sc.get_cie < 25 %}class="p-3 mb-2 bg-danger text-white"{% else %}class="p-3 mb-2 bg-success text-white"{% endif %}>
                                {{ sc.get_cie }}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center">No student marks available</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button class="btn btn-primary" onclick="window.print()">Print</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
