{% extends 'info/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-4">
                Timetable
            </h2>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>9:15 - 10:10</th>
                            <th>10:10 - 11:05</th>
                            <th>Break</th>
                            <th>11:15 - 12:10</th>
                            <th>12:10 - 1:05</th>
                            <th>Lunch</th>
                            <th>1:50 - 2:45</th>
                            <th>2:45 - 3:40</th>
                            <th>3:40 - 4:35</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in matrix %}
                        <tr>
                            {% for j in i %}
                                {% if forloop.first %}
                                <td><b>{{ j }}</b></td>
                                {% else %}
                                <td>{{ j }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
